.yellow-theme button {
	background-color: #f1ad1d;
	border-color: #f1ad1d;
}


.yellow-theme header ul li:after {
	background-color: #f1ad1d;
}
.yellow-theme header ul .active-li {
	color: #f1ad1d;
}
.yellow-theme header .head-callback i {
	color: #f1ad1d;
}
.yellow-theme .head-title {
	color: #f1ad1d;
}


.yellow-theme .title-underline span {
	background-color: #f1ad1d;
}
.yellow-theme .map {
	background-color: #e0a321;
}
.yellow-theme .map i {
	color: #f0d190;
}
.yellow-theme .work-line {
	background-color: #f1ad1d;
}
.yellow-theme .footer-underline div {
	background-color: #f1ad1d;
}
.yellow-theme footer ul li:hover {
	color: #e0a321;
}
.yellow-theme .process-items .process-item-title {
	color: #f1ad1d;
}
.yellow-theme .process-item-line {
	background-color: #f1ad1d;
}
.yellow-theme .reviews .quote {
	color: #f1ad1d;
}



.yellow-theme .portfolio .col-md-7 ul .portfolio-li-active {
	color: #f1ad1d;
}
.yellow-theme .portfolio .col-md-7 ul .portfolio-li-active:after {
	background-color: #f1ad1d;
}



.yellow-theme .reviews .slick-prev:hover, .yellow-theme .reviews .slick-next:hover,
.yellow-theme .reviews .slick-prev:active, .yellow-theme .reviews .slick-next:active,
.yellow-theme .reviews .slick-prev:focus, .yellow-theme .reviews .slick-next:focus {
	border-color: #f1ad1d
	!important;
}
.yellow-theme .slick-dots .slick-active {
	background-color: #f1ad1d
	!important;
	border-color: #f1ad1d;
}
.yellow-theme .slick-prev:hover, .yellow-theme .slick-next:hover,
.yellow-theme .slick-prev:active, .yellow-theme .slick-next:active,
.yellow-theme .slick-prev:focus, .yellow-theme .slick-next:focus {
	background-color: #f1ad1d
	!important;
	border-color: #f1ad1d;
}



