footer {
	background-color: $footer_bg;
	font-family: 'Montserrat';
	color: $grey_color;
	font-size: 16px;
	font-weight: 300;
	ul {
		line-height: 100px;
		li {
			position: relative;
			display: inline-block;
			span {
				color: #959595;
			}
			a {
				transition: 0.3s;
				color: $grey_color;
				text-decoration: none;
			}
			&:after {
				line-height: 100px;
				content: '';
				display: inline-block;
				width: 1px;
				height: 15px;
				background-color: #252525;
				margin-left: 12px;
				margin-right: 12px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			&:hover {
				a {
					color: $light_brown;
				}
			}
		}
	}
}