.title-screen {
	
}

header {
	padding-top: 50px;
	margin-bottom: 270px;
	position: relative;
}
.logo img {
	float: left;
}
.logo p {
	display: inline-block;
	font-family: 'Raleway';
	color: #fff;
	font-size: 34px;
	line-height: 60px;
}
