$white_color: #fff;
$black_white_color: #dac7ba;
$light_brown: #c7b299;
$extra_light_brown: #a48d72;
$light_brown_btn: #998675;
$dark_brown: #736357;
$grey_color: #555555;
$light_grey_color: #8c8c8c;
$silver_grey_color: #fbfaf8;
$dark_brown: #615855;
$extra_light_color: #d1d1d1;
$extra_dark_brown_color: #362f2d;
$extra_white_color: #f8f8f8;
$black_color: #191919;
$extra_light_black_color: #363636;
$neon_blue: #00bff3;