%green-btn {
	color: $white_color;
	font-weight: bold;
	text-transform: uppercase;
	background-color: transparent;
	border: 3px solid $logo_color;
	border-radius: 40px;
	transition: 0.3s;
}
%green-btn-hover {
	background-color: $logo_color;
}
.tagline {
	button {
		@extend %green-btn; 
		font-size: 18px;
		line-height: 48px;
		height: 70px;
		width: 255px;
		margin-bottom: 270px;
		&:hover {
			@extend %green-btn-hover;
		}

	}
}