header {
	nav {
		margin-top: 30px;
		.top-menu {
			float: right;
			.sub-menu {
				transition: 0.5s;
				width: 330px;
				border-radius: 10px;
				padding: 30px 40px;
				padding-right: 20px;
				margin-top: 20px;
				position: absolute;
				z-index: 999;
				left: -9999px;
				opacity: 0;
				background-color: $white_color;
				li {
					position: relative;
					display: block;
					margin-bottom: 20px;
					padding-left: 20px;
					a {
						color: $dark_color;
						font-size: 12px;
					}
					&:hover {
						&>a {
							color: $logo_color;
						}
					}
					&:after {
						position: absolute;
						font-family: 'FontAwesome';
						content: '\f105';
						color: #b6b6b6;
						display: block;
						top: 0;
						left: 0;
					}
					ul {
						margin-top: 20px;
						margin-bottom: 20px;
						li {
							a {
								color: $ultra_light_color;
							}
							margin-bottom: 0px;
							margin-top: 15px;
							&:after {
								display: none;
							}
						}
					}
				}
			}
			> li {
				padding-bottom: 20px;
				position: relative;
				display: inline-block;
				margin-right: 10px;
				text-transform: uppercase;
				a {
					font-size: 14px;
					color: $silver_color;
					text-decoration: none;
				}
				&:after {
					content: '/';
					font-size: 18px;
					color: $ultra_silver_color;
					margin-left: 10px;
				}
				&:last-child {
					&:after {
						display: none;
					}
					margin-right: 0
				}
				&:hover {
					ul {
						left: 0;
						opacity: 1;
					}
				}
			}
		}
	}
}