@media (min-width: 1000px) and (max-width: 1199px) {
	.header .logo p {
		font-size: 16px;
	}
	.header ul li {
		margin-right: 35px;
	}
}
@media (max-width: 991px) {
	.header .logo p {
		font-size: 16px;
		margin-left: 0;
		margin-top: 0;
		line-height: 50px;
	}
	.header .logo {
		text-align: center;
	}
	.header .logo img {
		margin: 0px auto;
		margin-top: 15px;
	}
	.header ul li {
		font-size: 13px;
		margin-right: 20px;
	}
	.head-main h1 {
		font-size: 40px;
	}
	.second-screen .col-sm-6 {
		margin-bottom: 20px;
	}
	.advertising img {
		margin: 0px auto;
	}
	.stair-lifts img {
		margin: 0px auto;
	}
	.outdoors .slick-next,
	.outdoors .slick-prev {
		display: none
		!important;
	}
	.slick-next {
		right: 0
		!important;
		z-index: 100;
	}
	.slick-prev {
		left: 0
		!important;
		z-index: 100;
	}
}
@media (max-width: 525px) {
	.info button {
		margin-bottom: 30px;
	}
	.info .progressed {
		margin-top: 40px;
	}
	.slick-slider img {
		margin: 0px auto;
		margin-bottom: 10px;
	}
	.header ul li {
		margin-right: 5px;
		font-size: 12px;
		margin-bottom: 0;
		line-height: 40px;
	}
	.header i {
		line-height: 40px;
	}
}
@media (max-width: 420px) {
	.header ul li {
		font-size: 10px;
	}
}
@media (max-width: 370px) {
	.header .col-md-7 {
		padding: 0;
		text-align: center;
	}
	.header ul li {
		margin-right: 3px;
		font-size: 9px;
	}
}