
@font-face {
	font-family: 'Museo Sans Cyrl 100';
	src: url('../fonts/Museo Sans Cyrl 100.eot');
	src: local('☺'), url('../fonts/Museo Sans Cyrl 100.woff') format('woff'),
	url('../fonts/Museo Sans Cyrl 100.ttf') format('truetype'), 
	url('../fonts/Museo Sans Cyrl 100.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('../fonts/Museo Sans Cyrl 300.eot');
	src: local('☺'), url('../fonts/Museo Sans Cyrl 300.woff') format('woff'), 
	url('../fonts/Museo Sans Cyrl 300.ttf') format('truetype'), 
	url('../fonts/Museo Sans Cyrl 300.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url('../fonts/Museo Sans Cyrl 700.eot');
	src: local('☺'), url('../fonts/Museo Sans Cyrl 700.woff') format('woff'), 
	url('../fonts/Museo Sans Cyrl 700.ttf') format('truetype'), 
	url('../fonts/Museo Sans Cyrl 700.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'Museo Sans Cyrl 900';
	src: url('../fonts/Museo Sans Cyrl 900.eot');
	src: local('☺'), url('../fonts/Museo Sans Cyrl 900.woff') format('woff'), 
	url('../fonts/Museo Sans Cyrl 900.ttf') format('truetype'), 
	url('../fonts/Museo Sans Cyrl 900.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



