.remodal-close {
	margin-top: -10px;
}

.remodal {
	background-color: $extra_dark_brown_color;
	img {
		margin-top: 30px;
		border-radius: 4px;
		-webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
	}
	h1 {
		display: inline-block;
		margin-top: 25px;
		font-family: 'Raleway';
		font-weight: 600;
		color: $extra_light_color;
		font-size: 20px;
	}
	h2 {
		display: inline-block;
		margin-top: 25px;
		font-size: 14px;
		font-family: 'Montserrat';
		font-weight: 400;
		padding-top: 0;
		color: $light_brown;
	}
	p {
		padding-top: 30px;
		color: $white_color;
		font-family: 'Raleway';
		margin-top: 10px;
		text-align: left;
		line-height: 24px;
		margin-bottom: 15px;
	}
	button {
		margin-top: 10px;
	}
}
