@media (max-width: 991px) {
	.process .text-right span:after,
	.process .text-left span:before,
	.process .text-right::before {
		display: none;
	}
	.process ul li span {
		display: none;
	}
	
	footer {
		text-align: center;
	}
	footer ul {
		margin: 0;
	}
}
@media (max-width: 767px) {
	.process .text-right {
		text-align: center;
	}
	.process .text-right .empty-line {
		color: #fff;
	}
	.process .text-left {
		display: none;
	}
}