$red_color: #e1223c;
$almost_red_color: #c2505f;
$black_color: #434342;
$white_color: #fff;
$body_bg_color: #f4f3f3;
$brown_color: #7f746c;






//Для text-align
$center: center;
$left: left;
$right: right;




//font-size
$big-size: 25px;
$middle-size: 18px;
$small-size: 14px;
$smaller-size: 12px;