@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('fonts/Proxima Nova Bold.eot');
	src: local('☺'), url('fonts/Proxima Nova Bold.woff') format('woff'),
	url('fonts/Proxima Nova Bold.ttf') format('truetype'),
	url('fonts/Proxima Nova Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('fonts/Proxima Nova Regular.eot');
	src: local('☺'), url('fonts/Proxima Nova Regular.woff') format('woff'),
	url('fonts/Proxima Nova Regular.ttf') format('truetype'),
	url('fonts/Proxima Nova Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('fonts/Rubik.eot');
	src: local('☺'), url('fonts/Rubik.woff') format('woff'),
	url('fonts/Rubik.ttf') format('truetype'),
	url('fonts/Rubik.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


button,
input {
	outline: none
	!important;
}

body {
	overflow-x: hidden;
}

.text-center {
	text-align: center;
}


.first-screen {
	background: url(img/first-screen-bg.png);
	background-size: cover;
	background-position: center;
	font-family: 'Proxima Nova Bold';
}
.first-screen .container {
	margin-top: 30px;
}
.first-screen .col-md-3 {
	color: #ffffff;
	font-size: 24px;
}
.first-screen .phone a {
	margin-top: 20px;
	color: #ffffff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
}
.first-screen h1 {
	font-size: 82px;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 90px;
}
.first-screen p {
	color: #ffffff;
	font-size: 24px;
	text-transform: uppercase;
}
.first-screen .col-md-12:nth-child(4) p {
	margin-top: 90px;
	position: relative;
	padding-left: 20px;
	margin-bottom: 24px;
}
.first-screen .col-md-12:nth-child(4) p:after {
	content: '|';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	color: #2371ea;
	width: 4px;
	background-color: #2371ea;
}
.form {
	padding: 0
	!important;
}
.form input,
.form button {
	width: 100%;
	min-height: 65px;
	text-align: center;
	margin-bottom: 25px;
}
.form input {
	font-family: 'Proxima Nova Regular';
	border: none;
	background-color: #ffffff;
	color: #202020;
	font-size: 20px;
}
.form button {
	border: none;
	background-image: -webkit-linear-gradient(left, rgb(47,86,216) 0%, rgb(28,130,245) 100%);
	background-image: -o-linear-gradient(left, rgb(47,86,216) 0%, rgb(28,130,245) 100%);
	background-image: linear-gradient(to right, rgb(47,86,216) 0%, rgb(28,130,245) 100%);
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 40px;
	box-shadow: 0 -4px rgb(30,62,157) inset;
}
.form button:active  {
    box-shadow: 0 -6px #1e3e9d inset;
     padding-bottom:  4px;
 }
.first-screen .col-md-12:last-child p {
	font-family: 'Proxima Nova Regular';
	font-size: 16px;
	color: #ffffff;
	text-transform: none;
	opacity: 0.5;
	margin-bottom: 20px;
}

.second-screen {
	color: #202020;
	background-color: #ebeff2;
	
}
.second-screen p {
	font-family: 'Proxima Nova Regular';
	font-size: 24px;
}
.second-screen .second-title:first-child {
	margin-top: 80px;
	margin-bottom: 20px;
}
.second-screen .second-title:last-child {
	margin-bottom: 28px;
}
.second-screen .second-title {
	font-size: 42px;
	text-transform: uppercase;
	font-family: 'Proxima Nova Bold';
	line-height: 42px;
	margin-bottom: 0;
}

.second-screen .icon {
	width: 70px;
	height: 70px;
	margin: 0px auto;
	position: relative;
}
.second-screen .icon img {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.second-screen .col-md-4 p {
	font-family: 'Rubik';
	font-size: 18px;
}
.second-screen .col-md-4 .title {
	font-family: 'Proxima Nova Bold';
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
}

.third-screen .container {
	background: url(img/Костюм.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto;
	overflow: hidden;
}
.third-screen .third-item {
	padding: 0;
}
.third-screen .title {
	color: #202020;
	font-size: 22px;
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
}
.third-screen p {
	font-size: 16px;
	color: #202020;
	font-family: 'Rubik';
}
.third-item {
	margin-bottom: 20px;
}
.third-item img {
	margin-bottom: 10px;
}
.third-item .title {
	margin-bottom: 5px;
}
.third-screen h1 {
	color: #202020;
	font-size: 42px;
	font-family: 'Proxima Nova Bold';
	margin: 50px 0px;
}

.fourth-screen {
	background: url(img/fourth-screen-bg.png);
	background-repeat: no-repeat;
	background-position: right;
	background-color: #ebeff2;

}
.empty-block {
	height: 100px;
}
.fourth-screen .title h1 {
	color: #202020;
	font-size: 42px;
	font-family: 'Proxima Nova Bold';
	margin-bottom: 20px;
	margin-top: 45px;
}
.fourth-screen .form {
	margin-bottom: 50px;
}
.fourth-screen .title p {
	position: relative;
	color: #202020;
	font-size: 18px;
	padding-left: 20px;
	font-family: 'Proxima Nova Regular';
	margin-bottom: 35px;
}
.fourth-screen .title p:after {
	content: '|';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	color: #2371ea;
	width: 4px;
	background-color: #2371ea;
}

.fourth-screen .col-md-5 {
	color: #202020;
	font-family: 'Proxima Nova Bold';
}
.fourth-screen .col-md-5 p:first-child {
	font-size: 42px;
	color: #202020;
	text-transform: uppercase;
	line-height: 48px;
}
.fourth-screen .col-md-5 p:nth-child(2) {
	font-size: 24px;
}
.fourth-screen .col-md-5 p:nth-child(3) {
	font-size: 16px;
	font-family: 'Rubik';
}
.fourth-screen .col-md-12:last-child img {
	display: block;
	float: left;
	margin-right: 15px;
}
.fourth-screen .col-md-12:last-child p {
	display: inline-block;
	margin-top: 10px;
	font-size: 18px;
	color: #202020;
	font-family: 'Rubik';
	line-height: 18px;
	margin-bottom: 40px;
}



.learn-workout h1,
.learn-workout h2 {
	color: #202020;
	font-size: 42px;
	font-family: 'Proxima Nova Bold';
}
.learn-workout h2 {
	font-size: 24px;
	margin-bottom: 50px;
	margin-top: 0;
}
.learn-workout iframe {
	width: 100%;
	height: 330px;
}
.comment-title {
	color: #202020;
	font-size: 42px;
	font-family: 'Proxima Nova Bold';
	margin-top: 40px;
	margin-bottom: 30px;
}
.comment-face {
	width: 125px;
	height: 125px;
	overflow: hidden;
	margin-bottom: 15px;
}
.comment-face img {
	margin-left: auto;
	margin-right: auto;
}
.comment-text,
.comment-name {
	color: #202020;
	font-size: 18px;
	font-family: 'Proxima Nova Regular';
	margin-top: 15px;
}
.comment-name {
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	margin-top: 20px;
}
.comments {
	margin-bottom: 30px;
}



.club {
	background-color: #ebeff2;
	padding: 0;
}
.club h1 {
	color: #202020;
	font-size: 42px;
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 25px;
}
.club .col-md-12:first-child p {
	color: #202020;
	font-size: 24px;
	font-family: 'Proxima Nova Bold';
	position: relative;
	padding-left: 20px;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.club .col-md-12:first-child p:after {
	content: '|';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	color: #2371ea;
	width: 4px;
	background-color: #2371ea;
}
.club .form {
	margin-bottom: 40px;
}
.adress img {
	margin-right: 5px;
}
.adress p {
	color: #202020;
	font-family: 'Proxima Nova Bold';
	font-size: 18px;
}
.adress span {
	font-family: 'Proxima Nova Regular';
	font-size: 18px;
}
.adress .phone {
	margin-top: -10px;
}
.club .col-md-12:nth-child(3) {
	font-size: 24px;
	color: #202020;
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
}

.footer p,
.footer a {
	color: #191919;
	font-size: 18px;
	font-family: 'Proxima Nova Regular';
	line-height: 18px;
	margin: 0;
	margin-bottom: 5px;
	text-decoration: none;
}	
.footer p:last-child {
	margin-bottom: 0;
}
.footer .col-md-5,
.footer .col-md-7 {
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (max-width: 868px) {
	.first-screen .phone {
		text-align: right;
	}
	.third-screen .container {
		background-size: 50%;
		background-position: 90%;
	}
	.fourth-screen {
		background-position: -100%;
	}
}
@media (max-width: 635px) {
	.first-screen .col-md-3,
	.first-screen .phone a,
	.first-screen p,
	.second-screen p,
	.second-screen .col-md-4 .title,
	.fourth-screen .col-md-5 p:nth-child(2),
	.learn-workout h2,
	.club .col-md-12:first-child p,
	.club .col-md-12:nth-child(3)
	 {
		font-size: 20px;
	}
	.club .col-md-12:first-child p {
		font-size: 18px;
	}
	.form input
	{
		font-size: 16px;
	}
	.form button,.second-screen .col-md-4 p,.fourth-screen .title p,.fourth-screen .col-md-12:last-child p,.comment-name,.adress p,.adress span,.footer a {
		font-size: 14px;
	}
	.first-screen .col-md-12:last-child p,
	.third-screen p,
	.fourth-screen .col-md-5 p:nth-child(3) {
		font-size: 16px;
	}
	.second-screen .second-title,
	.third-screen h1,
	.fourth-screen .title h1,
	.fourth-screen .col-md-5 p:first-child,
	.learn-workout h1, .learn-workout h2,
	.comment-title,
	.club h1 {
		font-size: 34px;
	}
	.first-screen h1 {
		font-size: 35px;
	}
	.first-screen {
		text-align: center;
	}
	.second-screen {
		text-align: center;
	}
	.third-screen .container {
		text-align: center;
		background-position: bottom;
		padding-bottom: 400px;
		margin-bottom: 30px;
	}
	.fourth-screen {
		text-align: center;
	}

	.learn-workout .col-md-12:first-child {
		text-align: center;
	}
	.club {
		text-align: center;
	}
	.footer {
		text-align: center;
	}
}
@media (max-width: 440px) {
	.third-screen .container {
		padding-bottom: 250px;
	}
}
