/*Цвета кнопок и иконок*/
.purple {
	background-color: #78597d;
}
.f-purple {
	color: #78597d;
}
.black-purple {
	background-color: #614665;
}
.green {
	background-color: #699f64;
}
.f-green {
	color: #699f64;
}
.light-green {
	background-color: #c6d6c5;
}
/**/
/*Цвета шрифтов*/
.f-black {
	color: #2f2c32;
}
.f-light_gray {
	color: #a7a6a6;
}