body {
	overflow-x: hidden;
}
@media (min-width: 992px) and (max-width: 1200px) {
  	.header .inline-header > li {
		margin-right: 5px;
  	}
  	.header .col-md-6 .inline-header li {
  		margin-right: 5px;
  	}
  	.header .inline-header {
  		font-size: 10px;
  	}
  	.btn-primary {
  		font-size: 10px;
  	}
  	.price-range p, .manufacturer p, .delivery p, .size p {
  		font-size: 12px;
  	}
  	.price-range #minCost {
  		margin-right: 0;
  	}
}

@media (max-width: 991px) {
	.header .col-md-6 .inline-header li {
  		margin-right: 5px;
  	}
	.header .col-md-10 button {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.price-range #minCost {
  		margin-right: 0;
  	}
  	.price-range p, .manufacturer p, .delivery p, .size p {
  		font-size: 10px;
  	}
  	.manufacturer label, .delivery label, .size label {
  		font-size: 10px;
  	}
}
@media (max-width: 750px) {
	body {
		text-align: center
		!important;
	}
	.text-right,
	.text-left {
		text-align: center;
	}
	.img-responsive {
		margin: 0px auto;
	}
	.header .col-md-10 input {
		width: 100%;
		margin: 0px auto;
	}
	.header .col-md-10 button {
		width: 100%;
	}
} 



/*media for kartochka*/
@media (max-width: 1200px) {
	.psevdo-message {
		margin-left: 10px;
	}
}
@media (min-width: 992px) and (max-width: 1024px) {
	.card-item-hov .item-name {
		font-size: 10px;
		margin-bottom: -20px;
	}
	.card-item-hov .item-price {
		font-size: 12px;
	}
	.item-kind, .item-place, .item-time {
		font-size: 10px;
	}
	
}
@media (min-width: 425px) and (max-width: 992px) {
	.card-item {
		margin-bottom: 10px;
	}
}
@media (max-width: 425px) {
	.card-item {
		margin-bottom: 10px;
	}
	.card-item-hov button {
		left: 0;
	}
}
/**/


/*Для корзины*/
@media (max-width: 991px) {
	.korzina-price, .korzina-sale-price, .korzina-sum {
		font-size: 14px;
	}
}
@media (max-width: 768px) {
	.korzina-quantity i {
		font-size: 6px
		!important;
	}
	.korzina-quantity input {
		max-width: 30px;
	}
	.korzina-quantity button {
		max-width: 30px;
	}
}
@media (max-width: 425px) {
	.korzina-title-of-item {
		font-size: 10px;
	}
	.korzina-price, .korzina-sale-price, .korzina-sum {
		font-size: 10px;
	}
}
/**/